<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact List</title>
</head>
<body>
    {% include 'base.html' %}
    <h1>Contact List</h1>

    <!-- Display existing contacts -->
    {% comment %} <ul>
        {% for contact in contacts %}
            <li>{{ contact.first_name }} {{ contact.last_name }} - {{ contact.email }}</li>
        {% endfor %}
    </ul> {% endcomment %}
<!-- Display existing contacts -->
<table class="table">
    <thead>
        <tr>
            <th> Contact_id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.contact_id}}</td>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.email }}</td>
            <td>
                <form method="post" action="{% url 'delete_contact' contact.contact_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="contact_id" value="{{ contact.contact_id }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Rest of your existing HTML -->

    <!-- Button to show/hide the form -->
    <button id="toggleForm" class ="btn-info">Add Contact</button> 
    <a href ="{% url 'home' %}"><button class= "btn-warning">Back</button></a>

    <!-- Form to add new contacts (Initially hidden) -->
    <form id="addContactForm" method="post" action="{% url 'contacts' %}" style="display: none;">
        {% csrf_token %}
        {% comment %} <label for ="contact_id">contact_id:</label>
        <input type = "text" id ="contact_id" name = "contact_id"><br> {% endcomment %}
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Create Contact" class= "btn-success">
    </form>

    <script>
        // Function to toggle the visibility of the form
        document.getElementById('toggleForm').addEventListener('click', function() {
            var form = document.getElementById('addContactForm');
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        });
    </script>
</body>
</html>
